body {
    margin: 0;
    background-image: url(bilder/170505160212-jimi-hendrix-tease-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5vw;
    font-family: BarlowSemiCondensed;
    color: lightgray;
}

#wrapper {
    height: 100%;
    width: 85%;

    background-color: rgba(0,0,0,0.2);

    
    margin-top: 4vw;
    border-radius: 2vw;
    margin-bottom: 4vw;
}

@font-face {
    font-family: BungeeShade;
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: BarlowCondensed;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family: BungeeOutlined;
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: BarlowSemiCondensed;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: BarlowCondensedBold;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

h1 {
    font-family: BungeeShade;

    font-size: 6vw;
    margin: 2% 0 0 2%;
}

nav {
    display: flex;

    margin: 6% 2% 6%;
    gap: 0.5%;
}

nav a {
    background-color: rgba(238, 231, 231, 0.5);

    flex-basis: 0;
    flex-grow: 1;
    padding: 1.2%;
    border-radius: 1vw;

    text-align: center;
    font-family: BarlowSemiCondensed;
    font-size: 2vw;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

nav > a:nth-of-type(2) {
    font-family: BarlowCondensedBold;
    box-shadow: 0 0 1vw white;
    border: 1px solid white;
    pointer-events: none;
}

nav > a:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

ul {
    list-style: none;

    margin: 0 0 7%;
}

h2 {
    font-family: BungeeOutlined;
    margin: 0;
    font-size: 2.5vw;
}

h3 {
    font-family: BarlowCondensed;
    margin: 0;

    font-size: 2vw;
}

main {
    display: flex;
}

main > div > p:nth-of-type(1) {
    padding-top: 9%;
    margin-bottom: 0;
}

main > div > p:nth-of-type(2) {
    padding-right: 3%;
    letter-spacing: 0;
}

main > div > div:nth-child(1) img:nth-of-type(1) {
    width: 100%;

    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    position: relative;

    z-index: 1;

    transition: opacity 1s;
}

main > div > div:nth-child(1) > img:nth-of-type(2) {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    position: absolute;
    top: 0%;
    left: 0%;
}

main > div:nth-child(2) > div:nth-child(1) {
    position: relative;
}

main > div > div:nth-child(1) > img:nth-of-type(1):hover {
    opacity: 0;
}

main > div:nth-child(1) {
    width: 60%;
}

main > div:nth-child(2) {
    width: 40%;
}

main > div:nth-child(2) > div {
    display: flex;

    gap: 3%;
}

main > div:nth-child(2) > div > div:nth-child(1) {
    border-radius: 0 0 0 2vw;
}

main > div:nth-child(2) > div > div:nth-child(2) {
    border-radius: 0 0 2vw 0;
}

.list > p:nth-child(1) {
    font-family: BarlowCondensed;
    font-size: 1.5vw;
}

.list {
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 217, 40);
    width: 48%;
    
    padding: 1vw;

    margin: 3% 0 3%;
}

.list p {
    color:rgb(171,94,142); 

    font-size: 1vw;
    
    margin: 0 0 0 0.5vw;
    padding: 0.2vw;
}

.box {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 2vw;
    margin: 2%;
    padding: 1.5%;
}

.box > div {
    display: grid;

    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

    gap: 0.4%;
}

.box > div > div {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 5%;
}

.box > div > div:nth-child(1){
    background-color: rgb(171,94,142);

    border-radius: 2vw 0 2vw 2vw;
}

.box > div > div:nth-child(2) {
    background-color: rgb(171,94,142);

    border-radius: 2vw 2vw 2vw 0;

    grid-column: 3 / 4;
}

.box > div > div:nth-child(3) {
    grid-column: 4 / 5;

    background-image: url(bilder/A-254160-1449578471-4215.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 2vw 2vw 2vw;

    align-items: flex-end;
    justify-content: flex-start;
}

.box > div > div:nth-child(4) {
    background-color: rgb(171,94,142);

    border-radius: 2vw 2vw 0 2vw;
}

.box > div > div > p {
    color: rgb(255, 217, 40);
}

.box > div > div:nth-child(3) > p {
    color: white;
}

/*--------------------------------*/
section {
    display: flex;
}

section > div > p:nth-of-type(1) {
    padding-top: 9%;
    margin-bottom: 0;
}


section > div > div:nth-child(1) img:nth-of-type(1) {
    width: 100%;

    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    z-index: 1;

    transition: opacity 1s;
}

section > div > div:nth-child(1) > img:nth-of-type(2) {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    position: absolute;
    top: 0%;
    left: 0%;
}

section > div:nth-child(2) > div:nth-child(1) {
    position: relative;
}

section > div > div:nth-child(1) > img:nth-of-type(1):hover {
    opacity: 0;
}

section > div:nth-child(1) {
    width: 60%;
}

section > div:nth-child(2) {
    width: 40%;
}

section > div:nth-child(2) > div {
    display: flex;

    gap: 3%;
}

section > div:nth-child(2) > div > div:nth-child(1) {
    border-radius: 0 0 0 2vw;
}

section > div:nth-child(2) > div > div:nth-child(2) {
    border-radius: 0 0 2vw 0;
}

.box2 .list p {
    color: rgb(248, 217, 186);
}

.box2 {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 2vw;
    margin: 2%;
    padding: 1.5%;
}

.box2 .list {
    background-color: rgb(29, 135, 156);
}

.box2 > div {
    display: grid;

    grid-template-columns: 2fr 1fr 2fr 1fr;

    gap: 0.4%;
}

.box2 > div > div {
    background-color: rgb(248, 217, 186);
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 5%;
}

.box2 > div > div:nth-child(1){
    border-radius: 2vw 2vw 2vw 0;

    grid-column: 1 / 2;
}

.box2 > div > div:nth-child(2) {
    border-radius: 0 2vw 2vw 2vw;

    grid-column: 2 / 3;
}

.box2 > div > div:nth-child(3) {
    grid-column: 3 / 4;

    background-image:url(bilder/eddie.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 2vw 2vw 2vw;

    align-items: flex-end;
    justify-content: flex-start;
}

.box2 > div > div:nth-child(4) {
    border-radius: 2vw 2vw 0 2vw;

    grid-column: 4 / 5;
}

.box2 > div > div > p {
    color: rgb(29, 135, 156);
}

.box2 > div > div:nth-child(3) > p {
    color: white;
}

@media (max-width: 500px) {
    body {
        background-image: url(bilder/jimimobile.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

        font-size: 4vw;
    }

    #wrapper {
        width: 95%;
        background-color: rgba(0,0,0,0);
    }

    .box, .box2 {
        padding: 4%;
    }

    h1 {
        font-size: 15vw;
        text-align: center;
    }

    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 5vw;
    }

    .list p {
        font-size: 3vw;
    }

    .list p:first-child {
        font-size: 4vw;
    }

    .box > div > div > p {
        font-size: 2.5vw;
    }

    .box2 > div > div > p {
        font-size: 2.5vw;
    }

    nav {
        gap: 1vw;
        margin: 13vw 0 13vw 0;
    }

    nav a {
        padding: 3vw 0 3vw;

        border-radius: 10px;
        
        font-size: 3vw;
    }

    main, section{
        flex-direction: column-reverse;
    }

    main > div:nth-child(1), main > div:nth-child(2), section > div:nth-child(1), section > div:nth-child(2) {
        width: 100%;
    }

    .box > div, .box2 > div {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        gap: 1%;
    }

    .box > div > div:nth-child(1) {
        grid-column: 1 / 3;
    }

    .box > div > div:nth-child(2) {
        grid-column: 3 / 6;
    }

    .box > div > div:nth-child(3) {
        grid-column: -4 / -3;
    }

    .box > div > div:nth-child(4) {
        grid-column: -3 / -1;
    }

    .box2 > div > div:nth-child(1) {
        grid-column: 1 / 4;
    }

    .box2 > div > div:nth-child(2) {
        grid-column: 4 / 6;
    }

    .box2 > div > div:nth-child(3) {
        grid-column: -6 / -3;
    }

    .box2 > div > div:nth-child(4) {
        grid-column: -3 / -1;
    }
}

@media (min-width: 1200px) {
    #wrapper {
        width: 1020px;
    }

    body {
        font-size: 17px;
    }

    h1 {
        font-size: 70px;
    }

    nav a {
        font-size: 27px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    .list p:first-child {
        font-size: 20px;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 50px;
    }

    nav a {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 17px;
    }

    .list p:first-child {
        font-size: 15px;
    }
}